package handler

import (
	"spb/bsa/internal/{{.PathName}}/model"
	"spb/bsa/internal/{{.PathName}}/utility"
	"spb/bsa/pkg/global"
	"spb/bsa/pkg/logger"
	"spb/bsa/pkg/utils"

	"github.com/gofiber/fiber/v3"
)

var ErrCreate{{.StructName}}Failed = fiber.NewError(fiber.StatusBadRequest, "create {{.ModuleName}} failed")

// {{.StructName}}GetAll godoc
//
// @Summary 		Create {{.ModuleName}}
// @Description 	Create {{.ModuleName}}
// @Tags 			{{.RouteName}}
// @Accept  		json
// @Produce 		json
// @Param 			Group body model.Create{{.StructName}}Request true "Create {{.ModuleName}}"
// @Success 		200 {object} utils.JSONResult{data=model.{{.StructName}}Response}		"Create {{.ModuleName}} success"
// @Failure 		400 {object} utils.ErrorResult{message=string}        		"Create {{.ModuleName}} failed"
// @Router 			/api/v1/{{.RouteName}} [post]
func (s *Handler) Create(ctx fiber.Ctx) error {
	var err error
	reqBody := new(model.Create{{.StructName}}Request)

	fctx := utils.FiberCtx{Fctx: ctx}
	if err = fctx.ParseJsonToStruct(reqBody, global.SPB_VALIDATOR); err != nil {
		logger.Errorf("error parse json to struct: %v", err)
		return fctx.ErrResponse(ErrCreate{{.StructName}}Failed)
	}
	{{.ModuleName}}Created, err := s.service.Create(reqBody)
	if err != nil {
		logger.Errorf("error create {{.ModuleName}}: %v", err)
		return fctx.ErrResponse(ErrCreate{{.StructName}}Failed)
	}
	// TODO: send email verification
	{{.ModuleName}}Response := utility.Map{{.StructName}}EntityToResponse({{.ModuleName}}Created)

	return fctx.JsonResponse(fiber.StatusOK, {{.ModuleName}}Response)
}
