package handler

import (
	"spb/bsa/internal/{{.ModuleName}}/model"
	"spb/bsa/internal/{{.ModuleName}}/utility"
	"spb/bsa/pkg/global"
	"spb/bsa/pkg/logger"
	"spb/bsa/pkg/utils"

	"github.com/gofiber/fiber/v2"
)

var ErrCreate{{.StructName}}Failed = fiber.NewError(fiber.StatusBadRequest, "create {{.ModuleName}} failed")

// @author: LoanTT
// @function: Create
// @description: Handler create {{.ModuleName}}
// @param: ctx *fiber.Ctx
// @return: error
func (s *Handler) Create(ctx *fiber.Ctx) error {
	var err error
	reqBody := new(model.Create{{.StructName}}Request)

	fctx := utils.FiberCtx{Fctx: ctx}
	if err = fctx.ParseJsonToStruct(reqBody, global.SPB_VALIDATOR); err != nil {
		logger.Errorf("error parse json to struct: %v", err)
		return fctx.ErrResponse(ErrCreate{{.StructName}}Failed)
	}
	{{.ModuleName}}Created, err := s.service.Create(reqBody)
	if err != nil {
		logger.Errorf("error create {{.ModuleName}}: %v", err)
		return fctx.ErrResponse(ErrCreate{{.StructName}}Failed)
	}
	// TODO: send email verification
	{{.ModuleName}}Response := utility.MapCreate{{.StructName}}EntityToResponse({{.ModuleName}}Created)

	return fctx.JsonResponse(fiber.StatusOK, {{.ModuleName}}Response)
}
