package handler

import (
	"spb/bsa/internal/{{.ModuleName}}/model"
	"spb/bsa/internal/{{.ModuleName}}/utility"
	"spb/bsa/pkg/auth"
	tb "spb/bsa/pkg/entities"
	"spb/bsa/pkg/logger"
	"spb/bsa/pkg/utils"

	"github.com/gofiber/fiber/v2"
)

var ErrGet{{.StructNamePlural}}Failed = fiber.NewError(fiber.StatusNotFound, "get {{.ModuleNamePlural}} failed")

// @author: LoanTT
// @function: GetAll
// @description: Handler for getting all {{.ModuleNamePlural}}
// @param: ctx *fiber.Ctx
// @return: error
func (s *Handler) GetAll(ctx *fiber.Ctx) error {
	var err error
	var reqBody model.Get{{.StructNamePlural}}Request
	fctx := utils.FiberCtx{Fctx: ctx}

	pagination := utils.GetPagination(ctx.Queries())
	reqBody.Pagination = pagination

	claims, err := auth.GetTokenFromCookie(ctx)
	if err != nil {
		logger.Errorf("error parse jwt: %v", err)
		return fctx.ErrResponse(ErrGet{{.StructNamePlural}}Failed)
	}

	reqBody.Role = claims["role"].(string)

	{{.ModuleNamePlural}}, err := s.service.GetAll(reqBody)
	if err != nil {
		logger.Errorf("error get {{.ModuleNamePlural}}: %v", err)
		return fctx.ErrResponse(ErrGet{{.StructNamePlural}}Failed)
	}

	{{.ModuleName}}Response := map{{.StructNamePlural}}EntityToResponse({{.ModuleNamePlural}})
	return fctx.JsonResponse(fiber.StatusOK, {{.ModuleName}}Response)
}

// @author: LoanTT
// @function: map{{.StructNamePlural}}EntityToResponse
// @description: Map {{.ModuleNamePlural}} entity to response
// @param: {{.ModuleNamePlural}} []*tb.{{.StructName}}
// @return: *model.Get{{.StructNamePlural}}Response
func map{{.StructNamePlural}}EntityToResponse({{.ModuleNamePlural}} []tb.{{.StructName}}) *model.Get{{.StructNamePlural}}Response {
	res := new(model.Get{{.StructNamePlural}}Response)
	for _, {{.ModuleName}} := range {{.ModuleNamePlural}} {
		res.{{.StructNamePlural}} = append(res.{{.StructNamePlural}}, utility.Map{{.StructName}}EntityToResponse(&{{.ModuleName}}))
	}

	res.Total = uint(len(res.{{.StructNamePlural}}))
	return res
}
