package service

import (
	roleModule "spb/bsa/internal/role"
	roleUtility "spb/bsa/internal/role/utility"
	tb "spb/bsa/pkg/entities"
)

// @author: LoanTT
// @function: GetByID
// @description: Service for get {{.ModuleName}}
// @param: {{.ModuleName}}Id string, current{{.StructName}}RoleName string
// @return: *tb.{{.StructName}}, error
func (s *Service) GetByID({{.ModuleName}}Id string, current{{.StructName}}RoleName string) (*tb.{{.StructName}}, error) {
	var err error
	{{.ModuleName}} := new(tb.{{.StructName}})

	err = s.db.Where("id = ?", {{.ModuleName}}Id).First({{.ModuleName}}).Error
	if err != nil {
		return nil, err
	}

	childrenRoles, err := roleModule.RoleService.GetChildren(false, current{{.StructName}}RoleName)
	if err != nil {
		return nil, err
	}

	roles := roleUtility.FlattenAndGetRoleNames(childrenRoles)
	if len(roles) == 0 {
		return nil, ErrPermission
	}

	for _, roleName := range roles {
		if roleName == {{.ModuleName}}.Role.Name {
			return {{.ModuleName}}, nil
		}
	}

	return {{.ModuleName}}, nil
}
