package service

import (
	"errors"

	"spb/bsa/internal/{{.PathName}}/model"
	"spb/bsa/internal/{{.PathName}}/utility"
	tb "spb/bsa/pkg/entities"

	"gorm.io/gorm/clause"
)

var Err{{.StructName}}NotFound = errors.New("{{.ModuleName}} not found")

// @author: LoanTT
// @function: Update
// @description: Service for {{.ModuleName}} update
// @param: {{.ModuleName}} model.Update{{.StructName}}Request
// @param: string {{.ModuleName}} id
// @return: {{.ModuleName}} entities.{{.StructName}}, error
func (s *Service) Update(reqBody *model.Update{{.StructName}}Request, {{.ModuleName}}Id string) (*tb.{{.StructName}}, error) {
	var err error
	var count int64
	var {{.ModuleNamePlural}} []tb.{{.StructName}}

	// check if {{.ModuleName}} exists
	if err = s.db.Model(tb.{{.StructName}}{}).
		Scopes(utility.EmailIsVerity).
		Where("id = ?", {{.ModuleName}}Id).
		Count(&count).Error; err == nil && count == 0 {
		return nil, Err{{.StructName}}NotFound
	} else if err != nil {
		return nil, err
	}

	{{.ModuleName}}Update := mapUpdateFields(reqBody)
	// update {{.ModuleName}}
	err = s.db.Model(&{{.ModuleNamePlural}}).
		Clauses(clause.Returning{}).
		Where("id = ?", {{.ModuleName}}Id).
		Preload("Role.Permissions").
		Updates({{.ModuleName}}Update).Error
	if err != nil {
		return nil, err
	}
	if len({{.ModuleNamePlural}}) == 0 {
		return nil, Err{{.StructName}}NotFound
	}

	return &{{.ModuleNamePlural}}[0], nil
}

// @author: LoanTT
// @function: mapUpdateFields
// @description: mapping update fields
// @param: reqBody *model.Update{{.StructName}}Request
// @return: tb.{{.StructName}}
func mapUpdateFields(reqBody *model.Update{{.StructName}}Request) tb.{{.StructName}} {
	var {{.ModuleName}}Update tb.{{.StructName}}

	if reqBody.FullName != nil {
		{{.ModuleName}}Update.FullName = reqBody.FullName
	}
	if reqBody.Phone != nil {
		{{.ModuleName}}Update.Phone = reqBody.Phone
	}
	if reqBody.Role != nil {
		{{.ModuleName}}Update.RoleID = *reqBody.Role
	}
	return {{.ModuleName}}Update
}
